{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}}">
    <header class="page-header">
        <h2>
            <a href="{{url}}">
                {{{title}}}
            </a>
        </h2>
        <small>
            <i class="fa fa-user"></i>
            {{author}}
            |
            <i class="fa fa-tag"></i>
            {{tags}}
            |
            <i class="fa fa-calendar"></i>
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </small>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="50"}}</p>
    </section>
    <div class="clearfix">
        <div class="pull-right">
            <a class="read-more" href="{{url}}">Read More &raquo;</a>
        </div>
    </div>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}

